@CHARSET "UTF-8";
.box-height{
	height: 70px;
}
.skin-green-light .main-header .navbar {
    background-color: rgba(89, 166, 0, 0.83) !important;
}
.skin-green-light .main-header .logo {
    background-color: rgba(89, 166, 0, 0.83) !important;
}